
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500&display=swap');

html{scroll-behavior: smooth;}

body{background-color: #000000 !important;-webkit-font-smoothing: antialiased;overflow-x: hidden;	-webkit-font-smoothing: antialiased;}

.bg-spooky{background-attachment: fixed;background-repeat: no-repeat;background-size: cover;background-position: center center;}

.bg-aboutsection{background-attachment: fixed;background-repeat: no-repeat;background-size: cover;background-position: center bottom;}

#about-image{animation: up-down 2s ease-in-out infinite alternate-reverse both;}

@media only screen and (max-width: 767px){
  #main-screen-project-details{padding-top: 18em;}
  #main-2{padding-top:8em;padding-bottom: 5em;}
}

@keyframes up-down {
  0% {
    transform: translateY(15px);
  }

  100% {
    transform: translateY(-15px);
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#ecf0f3] text-[#1f2937] tracking-wide
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold
    
  }

 body{font-family: 'Kanit', sans-serif;}


  h1{
    @apply text-4xl sm:text-5xl md:text-6xl
  }

  h2{
    @apply text-3xl sm:text-4xl 
  }

  li {
    @apply cursor-pointer
  }

  /* button{
    @apply shadow-xl shadow-gray-400  rounded-xl uppercase bg-gradient-to-r  from-[#5651e5] to [#709dff]  text-white
  } */


}





 